<div class="properties-section">

    <div class="property-grid">
        <div *ngFor="let property of properties" class="property-card">
            <div class="property-image-container">
                <img *ngIf="property.images.length > 0" [src]="property.images[property.currentImageIndex || 0].url"
                    [alt]="property.title" class="property-image" />
                <div class="property-type-badge">{{ property.type }}</div>

                <button class="arrow left" (click)="prevImage(property)">&#10094;</button>
                <button class="arrow right" (click)="nextImage(property)">&#10095;</button>
            </div>

            <div class="property-details">
                <h2 class="property-title">{{ property.title }}</h2>
                @if (loggedIn) {
                    <button (click)="addToFavorites(property.id, userId)">Agregar a Favoritos</button>
                }

                <p class="property-location">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>{{ property.address }}, {{ property.city }}</span>
                </p>

                <p class="property-price">{{ property.price | currency }}</p>

                <div class="property-divider"></div>

                <div class="property-info">
                    <span class="property-info-item">
                        <i class="fa-solid fa-house"></i>
                        🏠 {{ property.areaCubierta }}m²
                    </span>
                    @if (property.areaTotal > 0) {
                    <span class="property-info-item">
                        <i class="fa-solid fa-maximize"></i>
                        🌳 {{ property.areaTotal }}m²
                    </span>
                    }
                    <span class="property-info-item">
                        <i class="fa-solid fa-bed"></i>
                        🛏️ {{ property.rooms }} hab
                    </span>
                    <span>
                        <i class="fa-solid fa-bath"></i>
                        🚿 {{ property.bathrooms }} baños
                    </span>
                </div>

                <a [routerLink]="['/property', property.id]" class="view-details-button">
                    Ver Detalles
                </a>
            </div>
        </div>
    </div>